.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-speaking {
  animation: speak 0.25s infinite alternate;
}

@keyframes speak {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}